:root {
    --ff-primary: 'Inter', sans-serif;

    --color-dark: #f7f6f6;
    --color-darker: #fff;
    --color-light: #141414;
    --color-lighter: #0c0c0c;
    --color-gray-400: #9e9e9e;
    --color-gray-300: #424242;
    --color-gray-200: #3d3d3d;
    --color-gray-100: #d8d8d8;
    --color-gray-50: #242424;
    --color-primary-400: #33b3ae;
    --color-primary-300: #2c9c97;
    --color-primary-200: #258580;
    --color-primary-100: #1f706c;

    --color-header: rgba(20,20,20, .1);
    --color-primary-opac:rgba(51, 179, 174, .1);
    --color-invalid: rgba(80,10,10,.4);

    --fw-light: 400;
    --fw-regular: 500;
    --fw-bold: 700;

    --fs-sm: 1.05rem;
    --fs-md: 1.25rem;
    --fs-lg: 1.45rem; 
}

:root.light {
    --color-light: #f7f6f6;
    --color-lighter: #fff;
    --color-dark: #141414;
    --color-darker: #0c0c0c;
    --color-gray-50: #9e9e9e;
    --color-gray-100: #424242;
    --color-gray-200: #3d3d3d;
    --color-gray-300: #313131;
    --color-gray-400: #242424;
    --color-primary-100: #33b3ae;
    --color-primary-200: #2c9c97;
    --color-primary-300: #258580;
    --color-primary-400: #1f706c;

    --color-invalid: rgba(120,10,10,.4);
    --color-header: rgba(240,240,240, 1);
}


@media (max-width: 425px) {
    :root {
        --fs-sm: .95rem;
        --fs-md: 1.05rem;
        --fs-lg: 1.25rem;
    }

}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    font: unset;
    box-sizing: border-box;
    color: var(--color-darker);
}

body {
    font-family: var(--ff-primary);
    background-color: var(--color-lighter);

}

span {
    color: var(--color-primary-400);
}

.main__container {
    width: 100%;
    height: 100dvh;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.content__container {
    max-width: 80rem;
    width: 100%;
    margin: 0 auto;
    margin-top: clamp(.1rem,1vw, 3rem)
}
