
h1 {
    font-size: var(--fs-lg);
    font-weight: var(--fw-bold);
}

button {
    font-size: var(--fs-md);
    font-weight: var(--fw-regular);
}

input {
    font-size: var(--fs-sm);
    font-weight: var(--fw-light);
}

p {
    font-size: var(--fs-sm);
    font-weight: var(--fw-regular);
}