.variable__section {
    border-bottom: 2px solid var(--color-gray-50);

    .section__list {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        align-items: center;
        display: grid;
        place-items: center;
        padding-inline: 1.6rem;
        padding-block: clamp(.5rem,10vw, 2.5rem);
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    }
}


@media (max-width: 425px) {
    .section__list {
        padding-block: .5rem;
    }
}